@model IEnumerable<Company_FrontEnd.ViewModels.UsersVM>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="CreateUser">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.ActionLink("Assign To New Claim", "CreateClaim", "UserClaim", new { UserId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
